h1 {
    color: orangered;
    font-family: serif;
}

p {
    font-size: 25px;
    color:white;
}

li {
    color: white;
}

body {
    background-color: black;
    text-align: center;
    font-family: cursive;
    margin: auto;
}

li {
    font-size: 30px;
    font-family: lumari;
    list-style: none;
}

img {
    height: 300px;
}

a {
    text-decoration: none;
}